.unordered {
    list-style-type: square;
}

.nested-ul {
    list-style-type: circle;
}

.unordered {
    line-height: 120%;
}

.unordered {
    background: #F5FFFA;
    padding: 20px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.unordered li {
    background: #E6E6FA;
    margin: 5px;
}

.nested-ul li { 
    background: #E6E6FA;
    margin: 5px;
}
.custom-box-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
    
.custom-box-list li {
    counter-increment: step-counter;
    margin-bottom: 10px;
}
    
.custom-box-list li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    font-family: Georgia;
    background-color: #FFE4E1 ;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
}

.list-image {
list-style: none;
padding-left: 0;
}

.list-image li {
position: relative;
padding-left: 30px;
line-height: 170%;
}

.list-image li:before {
content: '';
width: 20px;
height: 20px;
position: absolute;
background-image: url('star');
background-size: cover;
background-position: center;
left: 0;
top: 50%;
transform: translateY(-50%);
}


table, th,td { 

  border: 1px solid black; 

  border-collapse: collapse; 

} 

 

th,td { 

  padding: 15px; 

  text-align: center; 

} 

 

caption { 

  caption-side: top; 

  text-align: center; 

  font-style: italic; 

  font-weight: bold; 

  color: black; 

} 

 

.table-simple th { 

  background-color: #D8BFD8; 

  color: white; 

} 

 

.table-simple tr:nth-child(even) { 

  background-color: #E6E6FA; 

} 

 

.table-simple tr:nth-child(odd) { 

  background-color: #fff; 

} 

 

.table-simple tr:hover { 

  background-color: #acffe3; 

} 
